[MASTER]
ignore=migrations

[TYPECHECK]
ignored-classes=Administrador, AperturaOrdenMovimiento, Bateria, CierreOrdenMovimiento, Conductor, Empresa, Funcionalidad, Kilometraje, Licencia, Llanta, Matricula, OperacionMantenimiento, HojaMantenimiento, OrdenTrabajo, OrdenMovimiento, Persona, Propietario, Responsable, Representante, Subscripcion, Token, Vehiculo