[MASTER]
ignore=migrations

[TYPECHECK]
ignored-classes=Administrador, Alarma, AperturaOrdenMovimiento, Bateria, CierreOrdenMovimiento, Conductor, CuentaApi, Dispositivo, Empresa, EstadoDispositivo, Funcionalidad, Kilometraje, Licencia, Llanta, Matricula, OperacionMantenimiento, HojaMantenimiento, OrdenTrabajo, OrdenMovimiento, Propietario, Responsable, Representante, Subscripcion, Trabajador, Token, Vehiculo